*, *::before, *::after {
    box-sizing: border-box;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

html, body {
    margin: 0px;
    overflow-x: hidden;
}

@font-face {
    font-family: Bebas_Neue_Regular;
    src: url(../../fonts/Bebas/Bebas_Neue_Regular.ttf);
    src: url(../../fonts/Bebas/Bebas_Neue_Regular.woff);
}

@font-face {
    font-family: Open_Sans_Regular;
    src: url(../../fonts/Open_Sans/Open_Sans_Regular.ttf);
    src: url(../../fonts/Open_Sans/Open_Sans_Regular.woff);
}

@font-face {
    font-family: Play;
    src: url(../../fonts/Play/Play.ttf);
    src: url(../../fonts/Play/Play.woff);
}

.site_header {
    display: flex;
    background-color: white;
    width: 100%;
    height: 45px;
}

.site_header_inner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 30;
}

@media (max-width: 1200px) {
    .container{
        max-width: 1200px;
    }
}

.header_row_1 {
    width: 100%;
    background-color: #282828;
}

.nav_menu {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    background-color: #282828;
    margin: 0;
    padding: 0;
    height: 45px;
}

.menu_item {
    display: flex;
    font-size: 13px;
    font-family: Open_Sans_Regular;
    color: white;
    text-decoration: none;
    margin-right: 22px;
}

.menu_item_underline {
    display: inline;
    padding-bottom: 2px;
    text-decoration: none;
    box-shadow: inset 0 1px transparent;
}

.menu_item_underline:hover {
    box-shadow: inset 0 -1px currentColor;
}

.burger_menu {
    display: none;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    background-color: #282828;
    padding-left: 10px;
    padding-right: 10px;
    height: 45px;
}


.menu {
    background: #282828;
    left: -285px;
    top: 0;
    position: fixed;
    height: 100%;
    width: 70%;
    max-width: 285px;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    border-bottom: 1px solid #282828;
    border-right: 2px solid #282828;
    background: white;
    line-height: 45px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-top: 3px;
}

.menu li a {
    color: #282828;
    font-size: 21px;
    font-family: Bebas_Neue_Regular;
}

.menu li:hover {
    cursor: pointer;
    background-color: #AEA59E;
}

.menu a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

.icon-close {
    cursor: pointer;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 6px;
}

.icon-menu {
    width: 18px;
    height: 14px;
}

.content {
    background-color: white;
    width: 100%;
}

.content_row1 {
    width: 100%;
    height: 350px;
    background-color: white;
}

.background_content {
    height: 350px;
    width: 100%;

}

.background_section_content  {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    top: 0;
    left: 0;
}

.background_content_item {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 550px;
}

.background__content_title {
    display: flex;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: 45px;
    font-family: Play;
    text-align: left;
    letter-spacing: 1.5px;
    padding-left: 20px;
    margin: 0;
    width: 100%;
}

.br_tablet_decstop {
    display: none;
}

@media (min-width: 360px) and (max-width:420px){
    .background__content_title {
        font-size: 32px;
    }
}

@media (min-width: 320px) and (max-width:360px){
    .background__content_title {
        font-size: 28px;
    }
}

@media (max-width: 320px){
    .background__content_title {
        font-size: 24px;
    }
}

.modal_window_header_button {
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
    width: 100%;
}

a.modal_window_header_button {
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 140px;
    height: 32px;
    line-height: 32px;
    border-radius: 7px;
    font-family: Open_Sans_Regular;
    font-size: 12px;
    text-align: center;
    font-weight: 500;
    color: white;
    background: #AEA59E;
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    transition: .3s;
}

a.modal_window_header_button:hover {
    background: orange;
    box-shadow: 0 15px 20px rgba(46,229,157,.4);
    transform: translateY(-7px);
}



.content_row2 {
    background-color: white;
    margin-top: 20px;
    width: 100%;
}


.slider_photos {
    overflow: hidden;
    margin: 0 8px 0 8px;
}

.slider_header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: Play;
    font-weight: 700;
    font-size: 45px;
}

.slider_content {
    margin-top: 20px;
    height: 300px;
}

.slider__wrapper {
    display: flex;
    transition: transform 0.6s ease;
}

.slider__photos_item {
    flex: 0 0 100%;
    position: relative;
    width: 100%;
    height: 300px;
}

.slider__photos_img {
    width: 100%;
    height: 300px;
}

.slider__indicators {
    position: relative;
    bottom: 50px;
    display: none;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: -50px;
    list-style: none;
}

.slider__indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: white;
    background-clip: padding-box;
    border-radius: 100%;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}

.slider__indicators li.active {
    opacity: 1;
}

.slider__control {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    top: calc(50% - 40px/2);
    background-color: #AEA59E;
}

.slider__control_left {
    left: 15px;
}

.slider__control_right {
    right: 15px;
}

.slider__control::before {
    content: '';
    display: inline-block;
    width: 13px;
    height: 22px;
    background: transparent no-repeat center center;
}

.slider__control_left::before {
    background-image: url("../../img/320/left.png");
}

.slider__control_right::before {
    background-image: url("../../img/320/right.png");
}

.content_row3 {
    background-color: white;
    margin-top: 20px;
    width: 100%;
}

.slider_catalog {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}

.slider__catalog__indicators {
    display: none;
}

.slider_catalog .slider__control {
    margin-top: 12px;
    top: 50%;
}
.slider_catalog .slider__control_left {
    left: 8px;
    z-index: 1;
}

.slider_catalog .slider__control_right {
    right: 8px;
    z-index: 1;
}

.slider_catalog .slider_header {
    margin: 0 0 20px 10px;
}

.slider_catalog .slider_content {
    height: 240px;
}

.slider__catalog_item {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background: #C4C4C4;
    border-radius: 16px;
    border: 8px solid white;
    border-top: 0px;
    border-bottom: 0px;
    flex: 0 0 33.3333%;
    height: 240px;
    z-index: 0;
    margin: 0;
}

.cards_item_content_title {
    text-align: center;
    color: white;
    font-size: 12px;
    font-family: Open_Sans_Regular;
    margin-bottom: 5px;
}

.modal_window_catalog_button {
    display: flex;
    margin: 8px;
    width: 100%;
    justify-content: center;
}

a.modal_window_catalog_button {
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 85%;
    height: 32px;
    line-height: 32px;
    border-radius: 7px;
    font-family: Open_Sans_Regular;
    font-size: 12px;
    text-align: center;
    font-weight: 500;
    color: white;
    background: #AEA59E;
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    transition: .3s;
}

a.modal_window_catalog_button:hover {
    background: orange;
    box-shadow: 0 15px 20px rgba(46,229,157,.4);
    transform: translateY(-7px);
}

.content_row4 {
    background-color: #282828;
    margin-top: 20px;
    width: 100%;
}

.feedback_form_header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    font-family: Play;
    font-weight: 700;
    font-size: 45px;
    margin: 0 0 20px 10px;
}

.form {
    display: flex;
    justify-content: center;
}

.form_template {
    display: flex;
    flex-direction: column;
    background-color: #282828;
    margin: 25px 0 13px 0;
    width: 74%;
}

.form_content_header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Open_Sans_Regular;
    font-size: 11px;
    margin: 0 0 25px 0;
}

.form_fields {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.user_data {
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 11px 0;
    width: 100%;
}

.user_name {
    display: flex;
    color: black;
    font-family: Open_Sans_Regular;
    font-size: 11px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    padding: 0 0 0 20px;
    width: 43%;
    height: 35px;
}

input.user_name::placeholder {
    color: black;
}

.user_tel {
    display: flex;
    color: black;
    font-family: Open_Sans_Regular;
    font-size: 11px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    padding: 0 0 0 20px;
    width: 43%;
    height: 35px;
}

input.user_tel::placeholder {
    color: black;
}

.user_mail {
    display: flex;
    color: black;
    font-family: Open_Sans_Regular;
    font-size: 11px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    padding: 0 0 0 20px;
    width: 90%;
    height: 35px;
}

input.user_mail::placeholder {
    color: black;
}

.user_message {
    display: flex;
    justify-content: space-evenly;
    color: black;
    font-family: Open_Sans_Regular;
    font-size: 11px;
    font-weight: 700;
    line-height: 32px;
    border: none;
    border-radius: 8px;
    margin: 0 0 11px 0;
    padding: 0;
    width: 95%;
    height: 75px;
}

textarea.user_message {
    padding: 0 0 0 20px;
}

textarea.user_message::placeholder {
    color: black;
}

.captcha {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 0 0 11px 0;
    width: 100%;
}

input.text_captcha {
    display: flex;
    color: black;
    font-family: Open_Sans_Regular;
    font-size: 11px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    padding: 0 0 0 20px;
    width: 55%;
    height: 35px;
}

input.text_captcha::placeholder {
    color: black;
}

.submit_button {
    padding: 2px 5px;
    font: bold 12px/12px verdana,arial,sans-serif;
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 140px;
    height: 32px;
    border: none;
    border-radius: 7px;
    font-family: Open_Sans_Regular;
    font-size: 12px;
    text-align: center;
    font-weight: 500;
    color: white;
    background: #AEA59E;
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    transition: .3s;
}

.submit_button:hover {
    background: orange;
    box-shadow: 0 15px 20px rgba(46,229,157,.4);
    transform: translateY(-7px);
}

.content_row5 {
    background-color: white;
    margin-top: 20px;
    width: 100%;
}

.dropdown_menu_header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: Play;
    font-weight: 700;
    font-size: 45px;
}

.dropdown_menu_content {
    margin-top: 20px;
}

.dropdown {
    display: inline-block;
    text-align: left;
    border-radius: 2px;
    box-shadow: 0 0 2px rgb(204, 204, 204);
    transition: all .5s ease;
    position: relative;
    font-size: 14px;
    color: #474747;
    margin-bottom: 15px;
    width: 100%;
    height: 100%;
}

.dropdown:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204)
}
.dropdown:active {
    background-color: #f8f8f8
}
.dropdown.active:hover,
.dropdown.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 2px 2px 0 0;
    background-color: #f8f8f8
}

.dropdown .select {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 15px 10px 15px 20px;
    background-color: #C4C4C4;
}

.description_dropdown {
    color: white;
    font-family: Open_Sans_Regular;
    font-size: 14px;
}

.dropdown-menu {
    display: none;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown-menu li {
    padding: 22px 10px 10px 25px;
    transition: all .2s ease-in-out;
    cursor: pointer;
    background-color: #E5E5E5;
    height: 70px;
}

.dropdown-menu li a {
    color: white;
    font-family: Open_Sans_Regular;
    font-size: 14px;
    text-decoration: none;
}

.dropdown-menu {
    display: none;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown-menu:active  {
    display: flex;
}

.icon {
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 18px;
    height: 18px;
}
.icon span{
    display: block;
    background-color: #282828;
}
.icon span:first-child{
    width: 3px;
    height: 18px;
}
.icon span:last-child{
    position: relative;
    top: 8px;
    right: 9px;
    width: 18px;
    height: 3px;
}
.icon.active{
    padding-left: 4px;
}
.icon.active span:first-child{
    display: none;
}

.site_footer {
    background-color: #282828;
    margin-top: 20px;
    width: 100%;
    height: 45px;
}

.popup-fade {
    display: none;
}

.popup-fade:before {
    content: '';
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 9999;
}

.popup {
    position: fixed;
    margin: auto;
    background: #fff;
    top: 25%;
    right: 0;
    left: 0;
    opacity: 1;
    z-index: 99999;
    padding: 20px;
    width: 600px;
    height: 450px;
}

.popup-close {
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 43px;
    height: 43px;
    background-image: url(../../img/1200/pop-up-close-btn.png);
}

.popup-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Play;
    font-weight: 700;
    font-size: 75px;
    width: 100%;
    height: 100%;
}

